/* 组件样式 */
.noselect {
    /* 无法选中 */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}

/* 图片样式 */
.round-image {
    /* 圆形 */
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
}